langchain==0.3.28
langchain-openai==0.3.35
langchain-community==0.3.28
langchain-huggingface==0.1.2
langchain-text-splitters==0.3.11
langgraph==0.2.76
chromadb
sentence-transformers
streamlit
python-dotenv
requests