langchain-openai       # needed for ChatOpenAI
sentence-transformers  # needed for HuggingFaceEmbeddings
langchain-text-splitters
streamlit
requests
langchain
langchain-community
langgraph
langchain-google-genai
chromadb
python-dotenv